
h1 {
    font-size: 40px;
}

button {
    background-color:rgb(156, 11, 11);
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.container {
    display: flex;     /* Habilita flexbox */
    align-items: center;     /* Alinea verticalmente al centro */
    justify-content: space-between;
    padding: 1rem 1rem 0rem 1rem;
}


button:hover {
    background-color: rgb(255, 124, 124);
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
}