#editImg {
    background-color: black;
    color: white;
    width: 40%;
    margin-right: 15%; /* Agrega esta línea para mover a la izquierda */
}

#editImg:hover {
    background-color: #5a67b8;
    color: var(--color-azul-claro);
    transition: background-color 0.5s, color 0.5s;
}

button{
  padding: .5rem 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  height: 2rem;
  font-weight: bold;
  font-size: 14px;
}






