
    <img (click)="changeStatus()" id="editImg" src="assets/edit.png" alt="editMenu">


<div class="flex-center alert" *ngIf="confirmChange">

    <img src="assets/editar.png" alt="">
    <p><strong>✏️Renaming your movie list?</strong></p>
    <p class="sure">Your cinematic journey, your choice!🌟🍿</p>
  
    <div class="options-buttons">
      <button class="cancel" (click)="changeStatus()">No</button>
      <button class="yes" (click)="toggleInputMode()">Yes</button>
    </div>
    
</div>

<div class="flex-center" *ngIf="inputMode" class="alert">
    <p *ngIf="inputMode"> <strong>Enter your new movie list name📝 </strong></p>
    
    <input type="text" class="input-newName" (keyup.enter)="showAlert(1)" [(ngModel)]="newListName"  placeholder="New List Name">
    
    <div class="options-buttons">
    <button class="cancel" (click)="showAlert(2)">Cancel</button>
    <button class="yes" (click)="showAlert(1)">Save</button>
    </div>
   
</div>

  

    
