
.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1rem;
    height: 100vh;
}


.pageFull
{
    width: 100%;
    height: auto;
    backdrop-filter: blur(5px);
}

.poster
{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 15rem;
}

.imgClicked {
    cursor: zoom-in;
    height: auto;
    width: 13%;
}

.hide-scrollbar {
    overflow: hidden;
}

 img {
    width: 100%;
    height: inherit; 
    object-fit: cover;
    object-position: medium;
    cursor: zoom-out;
 }
 

  .info
{
    width: 100%;
    padding: 0rem 1rem;
}

.logoStreaming
{
    border-radius: .5rem;
    width: auto;
    height: 2.5rem;
    background-color: rgb(0, 0, 0);
    z-index: -5;
}

.logoStreaming:hover
{
    cursor: pointer;
}


#title-year
{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 0rem 1rem 0rem;
    gap: 2rem;
}

#title-year h2
{
    font-size: 1.5rem;
}

#title-year button
{
    padding: 0rem 1rem;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
}


#year
{
    font-weight: normal;
}

.info section{
    background-color: var(--color-azul);
    border-radius: 1rem;
    padding: 1rem;
    width: inherit;
}