<body>
    
<button><img src="assets/flecha-correcta (2).png" alt=""></button>
<div class="conteiner">
    <div id="img-user">
        <img src="assets/usuario (2).png" alt="">
        <h4> {{name}}</h4></div>
    
    <div class="conteiner-p">
       
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam odio aspernatur officia aliquid deleniti dolorem accusamus pariatur consequuntur, saepe, reiciendis eos ducimus neque aliquam id in temporibus distinctio voluptatum dolor!</p>
    </div>
    
</div>
<button><img src="assets/flecha-correcta (1).png" alt=""></button>

</body>