    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto; /* Filas automáticas y luego el botón "Load More" */
        grid-template-areas:
            "header"
            "content"
            "footer";
        gap: 2rem;
        padding: 1rem;
        background-size: auto;
        background-repeat: none;
        gap: 2rem;
        padding: 1rem;
        background-color: black;   
    }

h1 {
    text-align: center;
    font-size: 24px;
}

.conteiner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #20233de6;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    gap: 1rem;
    grid-row: auto / span 1;
    cursor: pointer;
}

.movie-poster {
    border-radius: 1rem;
    max-width: 100%;
}

.load {
    width: 100%;
    background-color: var(--color-azul-claro);
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
    border: solid white 1px;
    color: white;
    font-size: 16px;
    transition: background-color 0.5s, color 0.5s;
}

load:hover {
    background-color: #5a67b8;
    color: var(--color-azul-claro);
}