 <div class="div-filtering">
    <ul class="horizontal-list">
        <li id="browse">Browse by</li>
        <li class="dropdown">
            
            <p>Year</p>
            <img src="assets/flecha-hacia-abajo-.png" alt="">

            <ul class="submenu">
                <li>1860-90s</li>
                <li>1890-1930</li>
                <li>1870-80</li>
            </ul>
        </li>

        <li class="dropdown" [style.background-color]="headerBackgroundColor">
            <p >{{titleG}}</p>
            <img src="assets/flecha-hacia-abajo-.png" alt="">

            <ul class="submenu">
                <li (click)="onGenreClick('Romance')">Romance</li>
                <li (click)="onGenreClick('Comedy')">Comedy</li>
                <li (click)="onGenreClick('Horror')">Horror</li>
                <li (click)="onGenreClick('Thriller')">Thriller</li>
                <li (click)="onGenreClick('Sci-Fi')">Sci-Fi</li>
                <li (click)="onGenreClick('Action')">Action</li>
                <li (click)="onGenreClick('Drama')">Drama</li>
            </ul>
        </li>

        <li class="dropdown" [style.background-color]="RatingBackgroundColor">
            <p> {{titleR}} </p>
            <img src="assets/flecha-hacia-abajo-.png" alt="">
            
            <ul class="submenu">
                <li (click)="onRatingClick('Highest First')">Highest First</li>
                <li (click)="onRatingClick('Lowest First')">Lowest First</li>
            
            </ul>
        </li>  

    </ul>
 </div>