<div class="conteiner">
  
    <div class="movie-card flex-center" *ngFor="let movie of movies">
      <img
        *ngIf="movie.poster_path"
        class="movie-poster"
        [src]="'https://image.tmdb.org/t/p/original' + movie.poster_path"
        alt="{{ movie.title }}"
        (click)="redirectToMovieDetail(movie)"
      />
      <p  (click)="redirectToMovieDetail(movie)" *ngIf="!movie.poster_path">Image not available</p>
      <h5 (click)="redirectToMovieDetail(movie)"> {{ movie.title }}</h5>
      <div  class='buttons' *ngIf="listClicked">
       <!-- Pasar el movie al componente hijo DeleteMovieComponent -->
      <app-delete-movie [movieToDelete]="movie"></app-delete-movie>
      <div *ngIf="listName === 'ToWatch'" >
        <app-movie-watched [movieToMove]="movie" ></app-movie-watched>
      </div>    
      
      </div>
    </div>

    
    <div class="movie-card movie-none flex-center loadingMovies" *ngIf="(movies.length == 0)">
      <h4>{{messageLoad}} </h4>
      <a class="add-movie-list" *ngIf="messageLoad === 'Hey! No movies on your list yet. Let\'s fix that—time to add some films!'" href="/home">Add Movies</a>
    </div>

    <div class="movie-card movie-none flex-center loadingMovies" *ngIf="(movies.length == 0)">
      <h4>{{messageLoad}} </h4>
      <a class="add-movie-list" *ngIf="messageLoad === 'Hey! No movies on your list yet. Let\'s fix that—time to add some films!'" href="/home">Add Movies</a>
    </div>

    <div class="movie-card movie-none flex-center loadingMovies" *ngIf="(movies.length == 0)">
      <h4>{{messageLoad}} </h4>
      <a class="add-movie-list" *ngIf="messageLoad === 'Hey! No movies on your list yet. Let\'s fix that—time to add some films!'" href="/home">Add Movies</a>
    </div>

    <div class="movie-card movie-none flex-center loadingMovies" *ngIf="(movies.length == 0)">
      <h4>{{messageLoad}} </h4>
      <a class="add-movie-list" *ngIf="messageLoad === 'Hey! No movies on your list yet. Let\'s fix that—time to add some films!'" href="/home">Add Movies</a>
    </div>

    <div class="movie-card movie-none flex-center loadingMovies" *ngIf="(movies.length == 0)">
      <h4>{{messageLoad}} </h4>
      <a class="add-movie-list" *ngIf="messageLoad === 'Hey! No movies on your list yet. Let\'s fix that—time to add some films!'" href="/home">Add Movies</a>
    </div>
    
</div>

<section class="load-conteiner">
  <button  *ngIf="!listClicked" class="load" (click)="loadNextPage()">Load More</button>
</section>

