<div class="conteiner">
  
    <div class="movie-card flex-center" *ngFor="let movie of movies">
      <img
        *ngIf="movie.poster_path"
        class="movie-poster"
        [src]="'https://image.tmdb.org/t/p/original' + movie.poster_path"
        alt="{{ movie.title }}"
        (click)="redirectToMovieDetail(movie)"
      />
      <p  (click)="redirectToMovieDetail(movie)" *ngIf="!movie.poster_path">Image not available</p>
      <h5 (click)="redirectToMovieDetail(movie)"> {{ movie.title }}</h5>
      <button style="margin-top: .5rem;" *ngIf="listClicked">ELMINAR</button>    
    </div>
</div>

<section class="load-conteiner">
  <button class="load" (click)="loadNextPage()">Load More</button>
</section>
