button{
  padding: .5rem 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  height: 2rem;
  font-weight: bold;
  font-size: 14px;
}

#delete-button {
  background-color:rgb(156, 11, 11);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

#delete-button:hover {
  background-color: rgb(255, 124, 124);
  transition: background-color 0.5s, color 0.5s;
  cursor: pointer;
}



