button {
    background-color:rgb(156, 11, 11);
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

button:hover {
    background-color: rgb(255, 124, 124);
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
}

#confirmation
{
  position: absolute;
  top: 25%;
  left: 39.5%;
  height: 10rem;
  border-radius: 2rem;
  padding: 1rem;
  gap: 1rem;
  background-color: #4F4D7E;
  z-index: 1;
  filter: blur(0px) !important;
  max-width: 20rem;
  text-align: center;
}

#confirmation-button
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#confirmation-button button{
    background-color:rgb(156, 11, 11);
    color: var(--var-blanco);
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    height: 2rem;
  }

  #confirmation-button :hover {
    background-color: rgb(255, 124, 124);
    color: white;
    transition: background-color 0.5s, color 0.5s;
  }