<body>
    
<header> 
    <h2 id="title"><img class="logo" src="./assets/logo-flick-finder.png" alt="">Flick Finder</h2>
    <div class="conteiner-bt">
        <button (click)="onSignInClick()">Sign in</button>
        <button (click)="onSignUpClick()" id="singUp">Sign up</button>
    </div>
</header>

<div class="conteiner">
    <h2 class="title">Instantly Craft Your Favorite Movie Lists</h2>
    <p class="subtitle">Explore, organize, and review your favorite films</p>
    <button (click)="onSignUpClick()" id="free" class="button">Start Free</button>
</div>

</body>

<div class="section">   
    <div class="text-container">
        <h3 class="sub-title">Explore New Releases</h3>
        <p>Find the latest additions and hidden gems in our ever-growing library.</p>
    </div>

    <owl-carousel-o [options]="carouselOptions">
        <ng-container *ngFor="let image of images">
          <img [src]="image" alt="Movie Poster">
        </ng-container>
      </owl-carousel-o>
     
     
</div>

<div class="section" id="custom-container">
    <img class="movies" id="add-list-img" src="./assets/add-list.png" alt="">

    <div class="text-container" id="custom">
        <h3 class="sub-title">Custom Lists</h3>
        <p>Organize your cinema with custom lists: 'Watched,' 'To Watch,' and more. Do it your way!</p>
    </div>  
</div>

<div class="section" id="background-3">

    <div class="text-container" >
        <h3 class="sub-title">Personal Reviews</h3>
        <p>Make every movie count. </p>
        <p>Leave personal reviews and share your opinions with the community.</p>
    </div>
    <img class="movies" src="./assets/movies-landing.png" alt="imagen">
</div>

<div class="final-section">   
     <h3 class="sub-title" id="final">Sign up now to start your personalized cinematic journey!</h3>
     <button (click)="onSignUpClick()" id="free" class="button">Start Free</button>
    
     
</div>

<app-footer class="footer"></app-footer>
