

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 13fr 1fr;
    grid-template-areas: "header" "contenedor" "footer";
    height: 100vh;
}

#title{
    font-size: 2rem;
}

header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    border: solid black;
    padding: 0rem .5rem 0rem .5rem;

    grid-area: header;
}

.conteiner-bt
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

button{
    border-radius: 2rem;
    border: solid var(--color-blanco-claro) 1px;
    padding: .5rem;
    width: 25%;
    background-color: rgba(255, 255, 255, 0);
    color: var(--color-blanco-claro);
    cursor: pointer;
    font-weight: bold;

}

button:hover{
    background-color: #3b3b3b;
}

#free
{
    margin-top: 1rem;
    background-color: var(--color-blanco-claro);
    color: #000000;
    width: 15%;
}

#singUp:hover
{
    background-color: #5c68b4;
}
#singUp
{
    background-color: var(--color-azul-claro);
}

#free:hover
{
    background-color: #3b3b3b;
    color: var(--color-blanco-claro);
}


.conteiner-landing
{   
    
    padding: 5rem 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr auto auto;
    grid-template-areas: "title" 
                        "subtitle" 
                        "button";
    grid-area: contenedor;
    max-width: 1300px;
}

.footer{
    grid-area: footer;
}

.title
{
    grid-area: title;
    font-size: 3.5rem;
    width: 80%;
    font-weight: bold;
    color: var(--color-blanco-claro);
    margin-bottom: -4rem; 
}

.subtitle
{
    grid-area: subtitle;
    font-size: 1.5rem;
    color: white;
}

.button
{
    grid-area: button;
}

.logo
{
    width: 102px;	
    height: 62px;
}

h2
{
    display: flex;
    align-items: center;
    justify-content: center;
}