<body>
    
<header> 
    <h2 id="title"><img class="logo" src="./assets/logo-flick-finder.png" alt="">Flick Finder</h2>
    <div class="conteiner-bt">
        <button (click)="onSignInClick()">Sign in</button>
        <button (click)="onSignUpClick()" id="singUp">Sign up</button>
    </div>
</header>

<div class="conteiner-landing">
    <h2 class="title">Instantly Craft Your Favorite Movie Lists</h2>
    <p class="subtitle">Explore, organize, and review your favorite films</p>
    <button (click)="onSignUpClick()" id="free" class="button">Start Free</button>
</div>


<app-footer class="footer"></app-footer>

</body>
