
body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 13fr 1fr;
    grid-template-areas: "header" "contenedor" "footer";
    height: 100vh;
}

#title{
    font-size: 2rem;
}

header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    border: solid black;
    padding: 0rem .5rem 0rem .5rem;

    grid-area: header;
}

.conteiner-bt
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

button{
    border-radius: 2rem;
    border: solid var(--color-blanco-claro) 1px;
    padding: .5rem;
    width: 25%;
    background-color: rgba(255, 255, 255, 0);
    color: var(--color-blanco-claro);
    cursor: pointer;
    font-weight: bold;

}

button:hover{
    background-color: #3b3b3b;
}

#free
{
    margin-top: 1rem;
    background-color: var(--color-blanco-claro);
    color: #000000;
    width: 15%;
}

#singUp:hover
{
    background-color: #5c68b4;
}
#singUp
{
    background-color: var(--color-azul-claro);
}

#free:hover
{
    background-color: #3b3b3b;
    color: var(--color-blanco-claro);
}


.conteiner
{   
    
    padding: 5rem 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr auto auto;
    grid-template-areas: "title" 
                        "subtitle" 
                        "button";
    gap: 0rem;   
    
    grid-area: contenedor;
}

.footer{
    grid-area: footer;
}

.title
{
    grid-area: title;
    font-size: 3.5rem;
    width: 80%;
    font-weight: bold;
    color: var(--color-blanco-claro);
    margin-bottom: -4rem; 
}

.subtitle
{
    grid-area: subtitle;
    font-size: 1.5rem;
    color: white;
}

.button
{
    grid-area: button;
}

.logo
{
    width: 102px;	
    height: 62px;
}

h2
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section{
    width: 100%;
    height: 100%;
    background-color: black;
   align-items: center;
   justify-content: flex-end;
    display: flex; 
    padding-top: 5rem;
    padding-bottom: 5rem;


  

}

.movies{
    margin: 0 7rem 0 10rem; /* Espacio entre la imagen y el texto */
    width: 35%;
    height: 25%;
    
}

#add-list-img{
    margin-right: 3rem;
    width: 25%;
}

#custom{
    margin-right: 10rem;
}

.text-container {
    margin-left: 4rem; /* Espacio entre el texto y la imagen */
    width: 40%; 
}

.sub-title{
    font-size: 35px;
    margin-bottom: 10px;   
}

p{
    font-size: 25px;
    
}

#mk{
    margin-bottom: 0;
}


#custom-container{
    background: linear-gradient(black, #16162E, #384071);
}

#background-3{
    background: linear-gradient(#384071,#16162E, black);
}

.final-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: black;
    padding-top: 5rem;
    padding-bottom: 6rem;
}

#final{
    width: 60%;
    text-align: center;
}

ngb-carousel {
    width: 25%;
    height: 15%;
    margin-right: 10rem;
    margin-left: 7rem;
 
   
  }

ngb-carousel img {
    max-width: 100%;
  max-height: 100%;
    object-fit: contain;
 
  }

 
  .fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .fade-in.show {
    opacity: 1;
  }

@keyframes reveal {
    from {
        opacity: 0;
        transform: translate(0, 100px);
    }
    50% {
        opacity: 0.1;
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
  
}





  
