#user-image {
    cursor: pointer;
  }
  
  .contenedor-menu {
    display: none;
    position: absolute;
    padding: none;
    z-index: 1;
    left: 1100px; /* Ajusta la posición a la izquierda según tus necesidades */
    text-align: center;
    font-size: 14px;
   
  }
  
  .contenedor-menu.active {
    display: block;
    /* Agrega estilos de posición y apariencia aquí */
  }

  .contenedor-menu .user-data{
    background-color: #4F4D7E;

  }

.item {
    padding: 10px;
    cursor: pointer;
    text-align: left;
    background-color: var(--color-azul);
  }
  
  .item:hover {
    background-color: #5a67b8;
    color: white;
  }

.user-data{
    padding: 13px;
    cursor: pointer;
}

#user-name{
    font-size: 20px;
}

#user-email{
    font-size: 14px;
}

.contenedor-menu img{
  width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-right: 8px;
  vertical-align: middle;
  
}

#logout{
  text-align: center;
  border-top: var(--color-blanco-claro) 2px solid;
  font-size: 13px;
  padding: 10px;
}

#logout img{
  margin-right: 5px;
}