<div id="user-image" (click)="toggleMenu()">
    <img src="assets/logo-user-small.png" alt="user avatar">
</div>
  
  <div class="contenedor-menu" [class.active]="isMenuOpen">

    <div class="user-data">
    <h2 id="user-name"> Hello {{ user?.userName }}! </h2>
    <p id="user-email"> {{ user?.email }} </p>
    </div>
    
    <div class="jamon">
    <h3 class="item" (click)="doSomething()">Change Name</h3>
    <h3 class="item"  (click)="doSomething()">Change Password</h3>
    <h3 class="item" (click)="doSomething()">Change Email</h3>
    <h3 class="item" (click)="doSomething()">Delete Account</h3>
    <p  class="item" (click)="doSomething()">Log Out</p>
    </div>

    </div>

