#user-image {
    cursor: pointer; 
    display: flex;
    align-items: center;
    gap: .5rem;   
  }
  

  @keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

  .contenedor-menu {
    display: none;
    padding: none;
    position: absolute;
    right: 2.5%;
    z-index: 1;
    text-align: center;
    font-size: 14px;
  }
  
  .contenedor-menu.active {
    animation: fade-in 0.5s ease-in-out;
    display: block;
  }

  .contenedor-menu .user-data{
    background-color: #4F4D7E;

  }

.item {
    padding: 10px;
    cursor: pointer;
    text-align: left;
    background-color: var(--color-azul);
  }
  
  .item:hover {
    background-color: #5a67b8;
    color: white;
  }

.user-data{
    padding: 13px;
    cursor: pointer;
}

#user-name{
    font-size: 20px;
}

#user-email{
    font-size: 14px;
}

.contenedor-menu img{
  width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-right: 8px;
  vertical-align: middle; 
}

#logout{
  text-align: center;
  border-top: var(--color-blanco-claro) 2px solid;
  font-size: 13px;
  padding: 10px;
}

#logout img{
  margin-right: 5px;
}

button{
  padding: .5rem 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  height: 2rem;
  font-weight: bold;
  font-size: 14px;
}





