<footer>

  <div class="container">

    <nav class="links">
      <a href=""> ABOUT US </a>
      <a href=""> CONTACT </a>
      <a href=""> LEGALES </a>
    </nav>

    <div class="socials">

        <a href=""><img [src]="'assets/icons8-linkedin-50.png'"alt="logo_instagram" /></a>

        <div class="utn">
           <a href="https://mdp.utn.edu.ar/campus-virtual/"> <img [src]="'assets/png-transparent-utn-hd-logo.png'"alt="logo_utn" /> </a>
        </div>
        
        <a href="https://github.com/MateoCunsolo/Proyecto-Final-TUP-UTN"> <img [src]="'assets/icons8-github-50.png'"alt="logo_github" /> </a>
        
    </div>

  </div>

  <div class="copy">
    <p>© 2023 Todos los derecho reservados.</p>
  </div>

</footer>
