footer{
    bottom: 0; 
    width: 100%;
    height: auto;
    background-color: black;
    color: var(--color-gris-claro);
    text-align: center;
    align-items: center; 
    padding: 10px;
}

footer a, footer p{
    display: inline;
    color: var(--color-gris-claro);
    margin-left: .5rem;

}
