
<app-header class="a"></app-header>
<body>

  <div class="container" *ngIf="movie">
    <div class="poster">
      <img
        [src]="'https://image.tmdb.org/t/p/w200' + movie.poster_path"
        alt="{{ movie.title }}"
      />
    </div>
    <div class="info">
      <h2>{{ movie.title }}</h2>
      <p>Fecha de estreno: {{ movie.release_date }}</p>
      <p>Descripción: {{ movie.overview }}</p>
    </div>
  </div>

  <div *ngIf="!movie">
    <p>Cargando detalles de la película...</p>
  </div>

  <button id="back">
    <a routerLink="/home"><img src="assets/atras (3).png" alt=""></a>
  </button>

</body>
