<div class="contenedor-forms flex-center-100vh">
  <form
    class="flex-center forms"
    id="login-form"
    [formGroup]="loginForm"
    (ngSubmit)="loginUser()"
  >
    <h2 class="title">Welcome Back!</h2>
    <p>Ready to dive back into your cinematic world?</p>

    <label for="username"></label>
    <input
      class="inputs-values inputs-all"
      type="text"
      name=""
      id="username"
      formControlName="userName"
      placeholder="User Name"
      pattern="^(?!\s*$).+"
      title="It cannot be blank"
    />
    <span class="error-message" *ngIf="validate('userName', 'required')">
      <span class="cross-error">X</span>The field is required</span
    >
    <label for="pass"></label>
    <input
      class="inputs-values inputs-all"
      type="password"
      name=""
      id="pass"
      formControlName="password"
      placeholder="Password"
      pattern="^(?!\s*$).+"
      title="It cannot be blank"
    />
    <span class="error-message" *ngIf="validate('password', 'required')">
      <span class="cross-error">X</span>The field is required </span>
    <input
      class="inputs-sumbit inputs-all"
      type="submit"
      name=""
      id="login"
      [disabled]="loginForm.invalid"
      value="Login"
    />
    <p id="member">Don't have an account? <a href="" [routerLink]="['/signup']">Sign up</a></p> 
    <p id="msj-login">Incorrect username and/or password</p>
  </form>
</div>
<app-footer></app-footer>
