#login-form
{
    width: 28rem;
}

#msj-login{
    font-weight: bold;
    margin-top: 10px;  
    visibility: hidden;
}

::placeholder {
    color: var(--color-azul);
    font-weight: bold;
    font-size: 15px;
}

.show
{
    visibility:visible !important; 
}
 
