#login-form
{
    width: 28rem;
}

#msj-login{
    font-weight: bold;
    margin-top: 8px; 
    margin-bottom: 10px; 
    visibility: hidden;
}

::placeholder {
    color: var(--color-azul);
    font-weight: bold;
    font-size: 15px;
}

.show
{
    visibility:visible !important; 
}

#member{
    font-size: 13px;
    
}

#member a{
    color: rgb(174, 169, 169);
    font-weight: bold;
    font-size: 13px;
}

.title{
    margin-top: 1rem;
}
