.header {
    position: relative;
}

#logo
{
    margin: 0rem 0rem 0rem 1rem;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
}

#iconMenu {
    background-color: black;
    cursor: pointer;
    height: 1.5rem;
    border: none;
    padding: 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 15rem;
}

aside{
    background-color: black;
    padding: .5rem;
}

#boton {
    background-color: black;
    border: none;
}

#boton:hover {
    background-color: #5a67b8;
    color: var(--color-azul-claro);
    transition: background-color 0.5s, color 0.5s;
}

#imgLists {
    width: 40px;
    height: 25px;
    margin-top: 5px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.menu.active {
    display: block;
    animation: fade-in 0.5s ease-in-out;
}

.menu {
    display: none;
}

#listsNames,#newList{
    color: white;
    text-decoration: none;
}

#newList{
    margin-left: 1rem;
}

#div1:hover,#div2:hover{
    background-color: #5a67b8;
    color: var(--color-azul-claro);
    transition: background-color , color ;
}

h3{
    padding: 7%;
}

#div1{
    padding: 1%;
}

#div2{
    margin-top: 10%;
}

.input-group {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }

  .round-button {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 3px;
    margin-left: 5px;
    cursor: pointer;

    width: 20px; 
    height: 20px; 

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .round-button:hover{
    background-color: white;
    color: black;
    transition: background-color 0.5s, color 0.5s;
  }

.custom-input {
    background-color: var(--color-azul-claro);
    color: white;
    border: 2px solid var(--color-azul-claro);
    outline: none; 

  }

  .custom-input:focus {
    border-color: #ffffff; 
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); 
}

  .custom-input::placeholder {
    color:var(--color-blanco-claro);
    margin-left: 5px;
    text-align: center;
    font-weight: bold;
  }

  
 
  

