<div class="header">

    <div class="flex-center-row">
        <button id="boton" (click)="toggleMenu()">
            <img id="iconMenu" src="assets/logo-menu.png" alt="listsMenu" />
        </button>
        <a id="logo"[routerLink]="['/home']">Flick Finder</a>
    </div>

    <div class="menu" [ngClass]="{ active: isMenuOpen }" >
        <aside>
            <h3>Your Lists :</h3>

            <div id="div1"  (click)="redirectToListDetail(list)" *ngFor="let list of user?.lists" (click)="toggleMenu()" >
                <img src="assets/logo-flick-finder.png" alt=" " id="imgLists">
                <a  id="listsNames" ><strong>{{ list.name }}</strong></a>
            </div>

            <span *ngIf="newList" class="input-group">
                <input #inputText type="text" class="custom-input" placeholder="new name list">
                <button (click)="getText(inputText.value)" class="round-button">✓</button>
            </span>
            
         
            <div id="div2">
                <a id="newList" (click)="addNewList()"><strong>+ Add New List</strong></a>
            </div>

        </aside>
    </div>

</div>