.header {
    position: relative;
}

#logo
{
    margin: 0rem 0rem 0rem 1rem;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
}

#iconMenu {
    background-color: black;
    cursor: pointer;
    height: 2.5rem;
    border: none;
    padding: 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 15rem;
}

aside{
    background-color: black;
    border: solid #5a67b8 .5px;
    padding: .5rem;
}




#boton {
    background-color: black;
    border: none;
}

#boton:hover {
    background-color: #5a67b8;
    color: var(--color-azul-claro);
    transition: background-color 0.5s, color 0.5s;
}

#imgLists {
    width: 40px;
    height: 25px;
    margin-top: 5px;
}

.menu.active {
    display: block;
}

.menu {
    display: none; /* Inicialmente, ocultar el menú */
  }
  
#listsNames,#newList{
    color: white;
    text-decoration: none;
}

#div1:hover,#div2:hover{
    background-color: #5a67b8;
    color: var(--color-azul-claro);
    transition: background-color , color ;
}

h3{
    padding: 7%;
}

#div1{
    padding: 1%;
}

#div2{
    margin-top: 10%;
}

  

