<div class="pageFull">

<app-header></app-header>

<div class="container" *ngIf="movie">

  <div class="poster">
    <img
      [src]="'https://image.tmdb.org/t/p/original' + movie.poster_path"
      alt="{{ movie.title }}"
    />
  </div>

  <div class="info">
    <div id="title-year">
      <h2 id="title">{{ movie.title }}</h2>
      <h4 id="year">{{extractYear(movie.release_date)}}</h4>
      <button>Add to List</button>
    </div>
    
    <p>{{ movie.overview }}</p>
  </div>
</div>

<div *ngIf="!movie">
  <p>Cargando detalles de la película...</p>
</div>

<app-comments> </app-comments>
<app-footer></app-footer>
</div>