
:root {
    --color-azul-claro: #2D335b;
    --color-blanco-claro: #f1eaea;
    --color-gris-claro: #BFBFBF;
    --color-azul: #1D2249;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:after, :before{
    box-sizing: inherit;
}

body{
    color: white;
    background-image: url(./assets/cinema.png);
    background-size: cover;
    background-repeat: repeat;
    height: auto;
    margin: 0;
    background-position-x: center;
    background-position-y:bottom; 
    font-family: 'Poppins', sans-serif;
    padding: 0rem 0rem 0rem 0rem;   
}

