

<div class="contenedor ">
 
<section class="seccion">
    <h2>Create Account</h2>
    <p>Embark on your cinematic journey !</p>

    <fieldset> <!--se usa para agrupar varios controles y etiquetas 'label' dentro de un formulario web-->
       
        <form id="formulario" [formGroup]="registerForm" (ngSubmit)="saveUser()">
            
            <div class="campo">
                <label for="userName">User name :</label>
                <input type="text" id="userName" formControlName="userName" placeholder="User Name">

                <span *ngIf="getControl('userName')?.errors?.['minlength']" class="error-message">
                Mínimo 4 caracteres.</span> 

                <span class="error-message" *ngIf="getControl('userName')?.errors?.['required']">
                El campo es requerido</span>
              
            </div>

            <div class="campo">
                <label for="email">Email :</label>
                <input type="email" id="email" formControlName="email" placeholder="Email">
            
                <span *ngIf="getControl('email')?.errors?.['required']" class="error-message">
                El campo es requerido </span>

                <span *ngIf="getControl('email')?.errors?.['pattern']" class="error-message">
                Invalid Email Format </span>
            </div>

            <div class="campo">
                <label for="password">Password :</label>
                <input type="password" id="password" formControlName="password" placeholder="Password">

                <span *ngIf="getControl('password')?.errors?.['minlength']" class="error-message">
                Mínimo 6 caracteres</span>

                <span *ngIf="getControl('password')?.errors?.['required']" class="error-message">
                El campo es requerido</span>
            </div>

            <div class="campo">
                <label for="confirmPassword">Repeat password :</label>
                <input type="password" id="confirmPassword" formControlName="confirmPassword"  placeholder="Confirm Password">
               
                <span *ngIf="getControl('confirmPassword')?.errors?.['required']" class="error-message">
                El campo es requerido</span>

                <span *ngIf="registerForm.errors?.['passwordMismatcgError'] && getControl('confirmPassword')?.touched" class="error-message">
                    No coinciden las contraseñas</span>

            </div>

            <div id="div-submit">
                <input type="submit" value="Sign Up" id="signUp"  [disabled]="registerForm.status === 'INVALID'">
            </div>

        </form>

    </fieldset>

</section>

</div>

<app-footer></app-footer>