#boton {
    background-color: var(--color-azul-claro);
    color: var(--var-blanco);
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    
}


#boton:hover {
    background-color: #5a67b8;
    color: var(--color-azul-claro);
    transition: 0.5s;
    color: white;
}

#option{
    background-color: black;
    color: white;
   
}