#boton {
    background-color: var(--color-azul-claro);
    color: var(--var-blanco);
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    height: 2rem;
}


#boton:hover {
    background-color: #5a67b8;
    color: var(--color-azul-claro);
    transition: 0.5s;
    color: white;
}

#option{
    background-color: black;
    color: white;
   
}

select
{
    background-color: rgba(255, 0, 0, 0);
    color: var(--var-blanco);
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    width: 10rem;
    height: 2rem;
    border: solid 1px var(--color-blanco-claro);
}

#span
{
    position: absolute;
    z-index: -1;
}